/* Override */
.ant-layout-header {
  height: 64px;
  margin-top: 40px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  background: initial !important;
}

.ant-spin-spinning {
  margin-top: 290px;
}

.site-layout-content {
  min-height: calc(100vh - 180px);
  padding: 24px;
  background: rgb(237 236 236);
  border: 1px solid rgb(221 221 221 / 63%);
  border-top: 0;
}

.root-content {
  padding: 0 50px;
  min-height: calc(100vh - 180px);
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
