/* Override */
#root {
  height: 100%;
}

.width-100 {
  width: 100% !important;
}

.ant-layout {
  height: 100%;
}

.ant-footer {
  padding: 0 50px;
  margin: 0 auto;
  max-width: 400px;
  background: #0000;
  color: #ffffff;
}

.ant-login {
  min-height: calc(100vh - 0px);
}

.ant-spin-spinning {
  margin-top: 290px;
}

.ant-app-loader {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(0 0 0 / 45%);
}

.app-loader {
  margin-top: 400px;
  margin-left: 940px;
}

.site-layout-content {
  min-height: calc(100vh - 170px);
  padding: 24px;
  border-top: 0;
}

.auth-content {
  min-height: calc(100vh - 200px);
  position: relative;
}

.not-auth-content {
  min-height: calc(100vh - 180px);
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.ant-layout-header {
  height: 64px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  padding: 0;
  background: initial !important;
  z-index: 19;
}

.ant-pro-top-nav-header.light {
  background: linear-gradient(to right, #145bab, #32a4df);
  box-shadow: 0px 0px 10px rgb(0 0 0 / 45%);
}

.ant-pro-top-nav-header {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 4px 0 rgb(0 21 41 / 12%);
  transition: background 0.3s, width 0.2s;
}

.ant-pro-top-nav-header-main {
  display: flex;
  height: 100%;
  padding-left: 16px;
}

.ant-pro-top-nav-header-logo {
  position: relative;
  min-width: 165px;
  height: 100%;
  overflow: hidden;
}

.ant-pro-top-nav-header-main-left {
  display: flex;
  min-width: 192px;
}

.ant-pro-top-nav-header-menu {
  min-width: 0;
  margin-left: 50px;
}

.ant-menu-horizontal {
  line-height: 46px;
  border: 0;
  box-shadow: none;
  background: inherit;
}

.ant-pro-right-content {
  min-width: 70px;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover:after {
  border-bottom: 2px solid #00bcd4;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover {
  color: #ffffff;
}

.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
  color: #ffffff;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #ffffff;
}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #ffffff;
}

.ant-pro-right-content-resize {
  padding-right: 8px;
}

.ant-space-align-center {
  align-items: center;
}

.ant-space-right {
  display: flex;
  float: right;
  height: 52px;
  margin-left: auto;
  overflow: hidden;
}

.ant-pro-grid-content.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.shotcut-divider {
  border-left: 1px solid rgb(215 209 209 / 23%);
}

.shotcut-popup {
  background-color: #314b68;
  color: #adb7c3;
  font-size: 13px;
}

.shotcut-menu {
  margin: 14px 0;
  border-top: 1px solid rgb(215 209 209 / 23%);
}

.shotcut-menu-item {
  padding-left: 5px;
  color: #e6f7ff !important;
}

.shotcut-menu-action {
  color: #e6f7ff !important;
  border-color: #adb7c3 !important;
}

.ant-popover-arrow {
  width: 0;
  height: 0;
}

.ant-popover-inner {
  background-color: #314b68;
}

.vm-number {
  border: 1px solid #096dd9;
  color: #096dd9;
  font-weight: 700;
  width: 29px;
  text-align: center;
  padding: 0 6px;
}

.vm-prefix > span,
.vm-name > span {
  color: hsla(0, 0%, 100%, 0.65);
  vertical-align: middle;
}

.control-wrapper {
  width: 870px !important;
  margin-top: 130px !important;
}

.control-collapse {
  border: inherit;
  background: inherit;
}

.control-collapse > .ant-collapse-item > .ant-collapse-header {
  color: hsla(0, 0%, 100%, 0.65);
  background: #001529;
}

.control-collapse > .ant-collapse-item > .ant-collapse-header > .ant-collapse-header-text {
  width: 100%;
}

.control-panel {
  border-bottom: inherit !important;
}

.control-panel > .ant-collapse-content {
  border-top: 1px solid rgb(0 0 0 / 85%);
}

.control-panel > .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

.control-menu > .ant-menu-item > .ant-menu-item-icon {
  font-size: 25px;
}
.control-menu > .ant-menu-item {
  font-size: 17px;
  border-bottom: 2px solid rgb(0 0 0 / 32%);
}
.control-menu > .ant-menu-item:nth-child(1),
.control-menu > .ant-menu-item:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 34px !important;
  height: 90px;
}

.control-menu > .ant-menu-item:nth-child(1) > .ant-menu-title-content,
.control-menu > .ant-menu-item:nth-child(2) > .ant-menu-title-content {
  padding-left: 18px;
}

.control-menu > .ant-menu-item:nth-child(3) {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 0;
  padding-left: 22px !important;
  height: 150px;
}

.control-content > .ant-card-head {
  background: #292e35fa;
  border-radius: 0;
  color: #fff;
}

.control-content > .ant-card-body {
  padding: 10px 0;
}

.monitor {
  padding: 20px 40px;
}

.os {
  margin-left: 54px;
  margin-top: 8px;
}

.os > span {
  border: 1px solid #7ec1ff;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #1890ff;
}

.control-content-divider {
  height: 90%;
  margin-left: 25px;
  margin-top: 15px;
  background: #f5f5f5;
}

.control-pc-status {
  margin: 40px;
}

.control-pc-status > .shotcut-divider {
  background: #f5f5f5;
}

.control-pc-usage {
  margin: -10px 40px;
}

.control-pc-useage-progress {
  margin: 20px 40px 0px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.control-pc-useage-progress .ant-row:nth-child(1) {
  padding-bottom: 3px;
}
.control-pc-useage-progress .ant-row:nth-child(2) {
  padding: 3px 0px;
}
.control-pc-useage-progress .ant-row:nth-child(2) {
  padding-top: 3px;
}

.control-pc-useage-progress span {
  font-weight: 700;
}

.control-pc-useage-progress span > small {
  color: #8b8b8b;
}

.useage-progress {
  margin-left: 5px;
}

.fr {
  float: right;
}
