/* Override */
.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  background: initial !important;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.root-content {
  padding: 0 50px;
}
