.container-panel {
  width: 1040px;
  max-height: 780px;
  overflow: scroll;
}

.container-panel .ant-card-head-wrapper > .ant-card-extra {
  padding: 0;
}

.container-panel .ant-card-head-wrapper > .ant-card-extra > .ant-space {
  padding-top: 30px;
}

.container-panel .ant-card-body .ant-row .monitor {
  text-align: center;
}
.container-panel .ant-card-body .ant-row .os {
  margin: 0 auto;
  text-align: center;
}

.container-panel .ant-card-body .ant-row .os > span {
  font-size: 12px;
}

.container-panel .shotcut-popup {
  /* margin: 20px; */
  /* padding: 20px; */
  background-color: #f2f4f7;
  color: #000;
}

.container-panel .shotcut-popup .shotcut-menu-item {
  color: #000 !important;
}

.vpc-usage {
  padding: 20px;
  font-size: 12px;
  background: #f2f4f7;
}
