/* Override */

body {
  margin: 0;
  font-family: 'NanumGothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-col > small {
  font-weight: 700;
}

.ant-layout {
  height: 100%;
}

.ant-footer {
  padding: 0 74px;
  margin: 0 auto;
  max-width: 400px;
  background: #0000;
  color: #ffffff;
}

.ant-spin-spinning {
  margin-top: 290px;
}

.ant-app-loader {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(0 0 0 / 45%);
}

.app-loader {
  margin-top: 400px;
  margin-left: 940px;
}

.site-layout-content {
  min-height: calc(100vh - 170px);
  padding: 24px;
  border-top: 0;
}

.auth-content {
  min-height: calc(100vh - 200px);
  position: relative;
}

.not-auth-content {
  min-height: calc(100vh - 180px);
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.welcome-to {
  font-size: 18px;
  color: #8e96a0;
  font-weight: 300;

  b {
    color: #000;
    font-weight: 700;
    font-size: 30px;
  }

  span {
    margin-left: 5px;
    padding: 3px 14px;
    vertical-align: middle;
    border: 1px solid #8e96a0;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 300;
    color: #8e96a0;
    letter-spacing: 0;
  }
}

.ant-layout-header {
  height: 64px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  padding: 0;
  background: initial !important;
  z-index: 19;
}

.top-nav-header {
  &.light {
    background: linear-gradient(to right, #145bab, #32a4df);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 45%);
  }
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 4px 0 rgb(0 21 41 / 12%);
  transition: background 0.3s, width 0.2s;

  .logo {
    margin-left: 20px;
    cursor: pointer;
  }

  .ant-menu-item-icon {
    font-size: 16px;
  }
}

.top-nav-header {
  min-width: 0;
  font-weight: 700;

  .ant-divider {
    left: 29px;
    border-color: #2196f3;
  }
}

.ant-menu-horizontal {
  line-height: 46px;
  border: 0;
  box-shadow: none;
  background: inherit;
}

.ant-pro-right-content {
  min-width: 70px;
}

.ant-menu-horizontal:not(.ant-menu-dark) > {
  .ant-menu-item-active:after,
  .ant-menu-item-open:after,
  .ant-menu-item-selected:after,
  .ant-menu-item:hover:after,
  .ant-menu-submenu-active:after,
  .ant-menu-submenu-open:after,
  .ant-menu-submenu-selected:after,
  .ant-menu-submenu:hover:after {
    border-bottom: 2px solid #00bcd4;
  }

  .ant-menu-item-active,
  .ant-menu-item-open,
  .ant-menu-item-selected,
  .ant-menu-item:hover,
  .ant-menu-submenu-active,
  .ant-menu-submenu-open,
  .ant-menu-submenu-selected,
  .ant-menu-submenu:hover {
    color: #ffffff;
  }
}

.ant-menu-light {
  .ant-menu-item-active,
  .ant-menu-item:hover,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover,
  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
    color: #ffffff;
  }
}

.ant-menu-horizontal > {
  .ant-menu-item-selected a,
  .ant-menu-item a:hover {
    color: #ffffff;
  }
}

.ant-pro-right-content-resize {
  padding-right: 8px;
}

.ant-space-align-center {
  align-items: center;
}

.ant-space-right {
  display: flex;
  float: right;
  height: 52px;
  margin-left: auto;
  overflow: hidden;
}

.ant-pro-grid-content.wide {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}

.shotcut-divider {
  border-left: 1px solid rgb(215 209 209 / 23%);
}

.shotcut-popup {
  background-color: #314b68;
  color: #adb7c3;
  font-size: 13px;
}

.shotcut-menu {
  margin: 14px 0;
  border-top: 1px solid rgb(215 209 209 / 23%);
}

.shotcut-menu-item {
  padding-left: 5px;
  color: #e6f7ff !important;
}

.shotcut-menu-action {
  color: #e6f7ff !important;
  border-color: #adb7c3 !important;
}

.ant-popover-arrow {
  width: 0;
  height: 0;
}

.ant-popover-inner {
  background-color: #314b68;
}

.vm-number {
  border: 1px solid #096dd9;
  color: #096dd9;
  font-weight: 700;
  width: 29px;
  text-align: center;
  padding: 0 6px;
}

.vm-prefix > span {
  color: hsla(0, 0%, 100%, 0.65);

  /* vertical-align: middle; */
}

.vm-name {
  > span {
    color: hsla(0, 0%, 100%, 0.65);

    /* vertical-align: middle; */
  }

  float: right;
  margin-right: 30px;
}

.control-wrapper {
  width: 870px !important;
  margin-top: 90px !important;
}

.control-collapse {
  border: inherit;
  background: inherit;

  > .ant-collapse-item > .ant-collapse-header {
    background: #0a2946;
    color: hsla(0, 0%, 100%, 0.65);
    padding: 12px 16px;

    > .ant-collapse-header-text {
      width: 100%;
    }
  }
}

.control-panel {
  margin-top: 10px;
  border-bottom: inherit !important;

  > .ant-collapse-content {
    border-top: 2px solid #001b34;
    background-color: initial;

    > .ant-collapse-content-box {
      padding: 0;
    }
  }
}

.control-menu > .ant-menu-item {
  > .ant-menu-item-icon {
    font-size: 25px;
    color: #ffffff;
  }

  font-size: 17px;
  border-bottom: 2px solid #d9d9d914 !important;

  &:nth-child(1),
  &:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 34px !important;
    height: 90px;
  }

  &:nth-child(1) > .ant-menu-title-content,
  &:nth-child(2) > .ant-menu-title-content {
    padding-left: 18px;
  }

  &:nth-child(3) {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
    padding-left: 22px !important;
    height: 150px;
  }
}

.control-content {
  height: 330px;
  border-bottom: 1px solid;
}
.control-content > {
  .ant-card-head {
    background: #292e35fa;
    border-radius: 0;
    color: #fff;
  }

  .ant-card-body {
    padding: 10px 0;
  }
}

.monitor {
  padding: 20px 40px;
}

.os {
  margin-left: 42px;
  margin-top: 8px;

  > span {
    border: 1px solid #7ec1ff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    color: #1890ff;
  }
}

.control-content-divider {
  height: 90%;
  margin-left: 25px;
  margin-top: 23px;
  background: #f5f5f5;
}

.control-pc-status {
  margin: 35px 40px;

  > .shotcut-divider {
    background: #f5f5f5;
  }

  .fr {
    font-weight: 700;
  }
}

.control-pc-usage {
  margin: -10px 40px;
}

.control-pc-useage-progress {
  margin: 30px 40px 0px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;

  .ant-row {
    &:nth-child(1) {
      padding-bottom: 3px;
    }

    &:nth-child(2) {
      padding: 3px 0px;
      padding-top: 3px;
    }
  }

  span {
    font-weight: 700;

    > small {
      color: #8b8b8b;
    }
  }
}

.useage-progress {
  margin-left: 5px;
}

.container-title {
  font-size: 30px;
  font-weight: 700;
}

.vm-status {
  float: right;
  font-weight: 700;

  &::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #dfdfdf;
    margin-right: 4px;
    position: relative;
    top: 2px;
    right: 4px;
  }

  &.active::before {
    background: linear-gradient(
      0deg,
      rgba(21, 171, 46, 1) 0%,
      rgba(18, 247, 68, 1) 100%
    );
  }

  &.fail::before {
    background: linear-gradient(0deg, rgb(255 0 0) 0%, #ff4d4f87 100%);
  }
}

.vpc-info {
  padding: 0 12px;

  .word-overflow {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .alias-change-btn {
    position: absolute;
    right: 50px;
    bottom: 25px;
  }

  .ant-card-body {
    padding: 20px;
    font-size: 13px;

    .ant-row {
      padding-bottom: 10px;

      > .ant-col:first-child {
        font-weight: 700;
      }
    }
  }
}

.ant-tab > .ant-tabs-tabpane > .ant-row > .ant-col img {
  padding-top: 7px;
  padding-left: 3px;
}
