.container-loader {
  min-height: 530px;
  text-align: center;

  > .ant-spin {
    margin-top: 240px;
  }
}

.home-loader {
  text-align: center;
  background: #fff;
  border-bottom: 1px solid;
  height: 100%;

  > .ant-spin {
    margin-top: 150px;
  }
}

.recovery-modal {
  .ant-modal-content .ant-spin-spinning {
    margin-top: 0;
  }
}
