.lazy-loader {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background-color: #0000004d;
  .ant-spin {
    margin-top: 390px;
  }
}

.container-loader {
  min-height: 530px;
  text-align: center;

  > .ant-spin {
    margin-top: 240px;
  }
}

.home-loader {
  text-align: center;
  background: #fff;
  border-bottom: 1px solid;
  height: 100%;

  > .ant-spin {
    margin-top: 150px;
  }
}

.recovery-modal {
  .ant-modal-content .ant-spin-spinning {
    margin-top: 0;
  }
}
