#root {
  height: 100%;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.mt-10p {
  margin-top: 10px;
}

.width-100 {
  width: 100% !important;
}

.width-150 {
  width: 150%;
}

.width-100p {
  width: 100px !important;
}

.mb-20p {
  margin-bottom: 20px;
}

.mr-30 {
  margin-right: 40%;
}

.font-12 {
  font-size: 12px;
}
